/* Color Palette Variables */


/*$background: #E5F3F2;
$primary-accent: #00A79D;
$secondary-accent: #045E55;
$primary-text: #6D6E71;
$secondary-text: #939598;
$btn-text: #FFF;
$divider: #D1D3D4;*/

html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

button {
  cursor: pointer;
  outline: none;
}

.header,
.btn-container,
.add-folder-container,
.add-link-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.add-folder-form,
.add-link-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.hide {
  display: none;
}

input,
select {
  width: 500px;
  height: 50px;
  margin-bottom: 5px;
  border: none;
  border-bottom: 1px solid #6D6E71;
  outline: none;
  font-size: 25px;
  font-weight: 300;
}

input::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  vertical-align: text-bottom;
  color: #939598;
}

.header {
  width: 600px;
  height: 70px;
  background-image: url('/assets/img/laptop.svg');
  background-repeat: no-repeat;
  background-position: 68%;
  background-size: 50px;
  font-size: 50px;
  padding-right: 65px;
}

.btn-add-folder {
  background-image: url('/assets/img/folder.svg');
}

.btn-add-link {
  background-image: url('/assets/img/unlink.svg');
}

.btn-save {
  width: 140px;
  height: 40px;
  border: 1px solid #6D6E71;
  border-radius: 50px;
  background-color: transparent;
  font-size: 14px;
}

.btn-add-folder,
.btn-add-link {
  width: 140px;
  height: 40px;
  margin: 10px;
  padding-left: 40px;
  border: 1px solid #6D6E71;
  border-radius: 50px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 15%;
  background-size: 25px;
  font-size: 14px;
}

.error-message {
  color: red;
  font-size: 12px;
  font-style: italic;
}

.folder-container {
  display: grid;
  align-items: flex-start;
  justify-content: space-around;
  width: 800px;
  margin: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.folder {
  display: flex;
  flex-direction: column;
  width: 390px;
  padding: 5px;
  color: #F7F0C3;
  border: 1px solid #67998F;
  border-radius: 5px;
  background-color: #536767;
}

.folder-links {
  display: none;
  background-color: red;
}

.folder-name {
  cursor: pointer;
  font-size: 24px;
}

.folder-description {
  font-size: 18px;
  font-style: italic;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
